body, html {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.parallax { 
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.border {
    display:inline-block;
    width: 300px;
    height: 300px;
    
    border-radius:50%;

    background-color: rgba(0,0,0,0.7);
    animation: square-to-circle 2s 1s infinite;  
     -webkit-animation: square-to-circle 2s 1s infinite; 
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 50% 0 0;
    transform:rotate(90deg);
  }
  50%  {
    border-radius:50%;
    transform:rotate(180deg);
  }
  75%  { 
    border-radius:50% 50% 0 0;
    transform:rotate(270deg);
  }
  100% {  
    border-radius:0 0 0 0;
    transform:rotate(360deg);
  }
}

@-webkit-keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 50% 0 0;
    transform:rotate(90deg);
  }
  50%  {
    border-radius:50%;
    transform:rotate(180deg);
  }
  75%  { 
    border-radius:50% 50% 0 0;
    transform:rotate(270deg);
  }
  100% {  
    border-radius:0 0 0 0;
    transform:rotate(360deg);
  }
}

.siskat {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -135px;

    font-family: 'Grand Hotel', cursive;
    font-size: 140px;
    color: #ffffff;
}

/* hide the scroll bar */
::-webkit-scrollbar {
display: none;
}

.large {
    font-size: 50px !important;
    top: 4%;
    left: 3%;
}

/* hide bullet points */
ul {
    list-style-type: none;
    padding: 0%;
    display: none;
}
.sidebar {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #ffffff;
    top: 4%;
    left: 3%;
    cursor: pointer;
    z-index: 9999;
}

.padding {
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color:inherit;
}

iframe { 
    ::-webkit-scrollbar {
    width: 12px;
}
 
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 5px 10px;
}

b {
    font-family: 'Roboto', sans-serif;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.down {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -25px;
}