body, html {
    margin: 0;
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  position: absolute;
  top: 32%;
  width: 100%;
  text-align: center;
}

.border {
    display:inline-block;
    line-height:0px;
    
    border-radius:50%;

    background-color: rgba(0,0,0,0.7);
}

.border span {
    display:inline-block;
    
    padding-top:50%;
    padding-bottom:50%;
    
    margin-left:30px;
    margin-right:50px;

    font-family: 'Grand Hotel', cursive;
    font-size: 140px;
    color: #ffffff;
}

/* hide the scroll bar */
::-webkit-scrollbar {
display: none;
}

.large {
    font-size: 50px !important;
    top: 4%;
    left: 3%;
}

/* hide bullet points */
ul {
    list-style-type: none;
    padding: 0%;
    display: none;
}
.sidebar {
    position: absolute;
    color: #ffffff;
    top: 4%;
    left: 3%;
}