body, html {
    margin: 0;
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
  position: absolute;
  top: 32%;
  width: 100%;
  text-align: center;
}

.border {
    display:inline-block;
    line-height:0px;
    
    border-radius:50%;

    background-color: rgba(0,0,0,0.7);
}

.border span {
    display:inline-block;
    
    padding-top:50%;
    padding-bottom:50%;
    
    margin-left:30px;
    margin-right:50px;

    font-family: 'Grand Hotel', cursive;
    font-size: 140px;
    color: #ffffff;
}

/* hide the scroll bar */
::-webkit-scrollbar {
display: none;
}

.large {
    font-size: 50px !important;
    top: 4%;
    left: 3%;
}

/* hide bullet points */
ul {
    list-style-type: none;
    padding: 0%;
    display: none;
}
.sidebar {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: #ffffff;
    top: 4%;
    left: 3%;
    cursor: pointer;
    z-index: 9999;
}

.padding {
    padding: 20px 0px;
}

a {
    text-decoration: none;
    color:inherit;
}

iframe { 
    ::-webkit-scrollbar {
    width: 12px;
}
 
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 500px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 5px 10px;
}

b {
    font-family: 'Roboto', sans-serif;
}
